<!DOCTYPE html>
<html>
<head>
	<title>Teacher-Assignment</title>
    
    <meta content="width=device-width, initial-scale=1" name="viewport" />
	
    <link rel="stylesheet" type="text/css" href="/css/teacherAssignment.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/js/teacherAssignment.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand" href="/class" style="margin-left: 10px;"> 
				<img src="https://img.icons8.com/color/48/000000/class.png"/> Academia
			</a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
            <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item active">
                        <a 
                            class="nav-link hover-underline-animation" 
                            href="/class"
                        >
                            MyClasses <span class="sr-only">(current)</span>
                        </a>
                    </li>			  
                    <li class="nav-item"> 
                        <a 
                            class="nav-link hover-underline-animation" 
                            href="/class/<%= assignment_data.classId %>/assignment/<%= assignment_data.assignmentId %>/analysis"
                        > 
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item"> 
                        <a 
                            class="nav-link hover-underline-animation"
                            href="/logout"
                        >
                           Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="demo-modal" class="modal" onclick="close_model()">
		<div class="content" onclick="not_close_model(event)">
			<div class="head">
				<div class="container stud-data">
                    <form style="margin: auto;">
                        <div class="checkbox-block">
                            <input 
                                class="checkbox-effect checkbox-effect-4" 
                                id="get-up-4" 
                                type="checkbox"
                                value="get-up-4" 
                                name="get-up-4"
                            />
                            <label for="get-up-4" style="font-size:20px;">Ayush-Avasthi</label>
                        </div>
                        <div class="checkbox-block">
                            <input 
                                class="checkbox-effect checkbox-effect-4" 
                                id="get-up" 
                                type="checkbox" 
                                value="get-up" 
                                name="get-up"
                            />
                            <label for="get-up" style="font-size:20px;">Ayush-Avasthi</label>
                        </div>
                        <button type="submit" style="margin-top: 10px;"> Remove </button>
                    </form>
                </div>                
			</div>			
		</div>
	</div>
    
    <div class="container assign-info-cntenr">
        <div class="head-switch">
            <label class="left-box">
                <input 
                    type="radio" 
                    id="chck1" 
                    name="yep" 
                    checked onchange="assignmentModal()"
                >
                <h2 style="font-size: 5vmin; ">Assignment</h2>
                <i class="fa fa-angle-double-right left"></i>
            </label>
            <label class="right-box">
                <input type="radio" id="chck2" name="yep" onchange="submissionModal()">
                <h2 style="font-size: 5vmin; ">Submissions</h2>
                <i class="fa fa-angle-double-right right"></i>
            </label>
        </div>
        <div class="col-12 assign-info">
            <h3> <%= assignment_data.title %> </h3> 
            <p>
                <%= assignment_data.description %>
            </p>
            <embed 
                src="data:application/pdf;base64,<%= Buffer.from(assignment_data.assignedPdf).toString('base64') %>"
                width="100%" height="300" frameborder="0"
            ></embed>
        </div>
        <div class="col-12 stud-info">
            
            <% for(var i=0; i<assignment_data.student.length; i++)
            {%>
            <a 
                href="/class/<%= assignment_data.classId %>/assignment/<%= assignment_data.assignmentId %>/user/<%= assignment_data.student[i].id%>"
            >
                <div class="std-name">
                    <div class="name">
                        <%= assignment_data.student[i].name %>
                    </div>
                    
                    <div class="std-grade">
                        <% if(assignment_data.student[i].grade >= 0) {%>
                           <%= assignment_data.student[i].grade %> /100
                        <%} else {%>
                            Not graded yet 
                        <%} %>
                    </div>
                </div>
            </a>
            <%} %>
        </div>
    </div>
</body>
</html>